{%load static%}
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" href="{% static 'css/stylesL.css' %}" >
</head>

<body>

<div class="center">
	<h1>Login</h1>
	<form method="POST" action="">
		{% csrf_token %}
	  <div class="txt_field">
		{{ form.username }}
		<span></span>	
	  </div>

	  <div class="txt_field">
		{{ form.password }}
		<span></span>
	  </div>

	  <div class="pass">Forgot Password?</div>
	  <input class="btn btn-dark" type="submit" value="ingresar">
	  <div class="signup_link">
		Aun no tienes cuenta? <a href="{% url 'register' %}">sign up</a>
	  </div>
	</form>
	{{ form.errors }}
  </div>
</body>



