{%load static%}
<!DOCTYPE html>
<html>
    
<head>
	<title>registro</title>
	<link rel="stylesheet" href="{% static 'css/stylesL.css' %}" >

</head>
<body>

	<div class="center">
		<h1>registrarse</h1>
		<form method="POST" action="">
			{% csrf_token %}
		  <div class="txt_field">
			{{ form.username }}
			<span></span>	
		  </div>
		  <div class="txt_field">
			{{ form.email }}
			<span></span>	
		  </div>
		  <div class="txt_field">
			{{ form.password1 }}
			<span></span>	
		  </div>
		  <div class="txt_field">
			{{ form.password2 }}
			<span></span>	
		  </div>
		  <div class="txt_field">
			{{ form.idUsuario }}
			<span></span>	
		  </div>
		  <div class="txt_field">
			{{ form.codigoRegistro }}
			<span></span>	
		  </div>
          <div class="txt_field">
			{{ form.rol }}
			<span></span>
		  </div>
		  <input class="btn btn-dark" type="submit" value="ingresar">
		  <div class="signup_link">
			Ya tienes cuenta? <a href="{% url 'login' %}">Sign in</a>
		  </div>
		</form>
		{{ form.errors }}
	  </div>

	<script>
	
		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email usb..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';
		form_fields[5].placeholder='id de usuario...';
		form_fields[6].placeholder='codigo registro...';
	

		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>
</body>
</html>

