{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>titulo</title>
<link href="{% static 'stylesL.css'  %}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  
 <title>titulo</title>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <!-- button -->
    <form>
      <input  type="submit" class="fadeIn five" value="Iniciar Sesion">
      <a  href="{% url 'login' %}"class="button">Iniciar Sesion</a>
      <a href="{% url 'register' %}"class="button">Crear cuenta</a> 
      
    </div>

  </div>
</div>
</body>
</html>